{%- if include.icon contains ".svg" -%}
  {%- capture inline -%}
    {%- include {{ include.icon }} -%}
  {%- endcapture -%}
  <span class="icon">
    {{- inline | strip_newlines -}}
  </span>
{%- elsif include.icon and include.icon != "" -%}
  <i class="icon {{ include.icon }}"></i>
  </span>
{%- elsif include.icon contains ".jpg" or include.icon contains ".jpeg" -%}
  <img src="{{ include.icon }}" alt="Icon" class="icon">
{%- elsif include.icon and include.icon != "" -%}
  <i class="icon {{ include.icon }}"></i>
{%- endif -%}
